<footer>
  <%= stylesheet_link_tag "_footer", media: "all" %>
  <div class="copyright-container">
    <span>Copyright © 2025. Sweets_sarch</span>
  </div>
  <div class="footer-links">
    <a data-turbo="false" href="/terms">利用規約</a>
    <a data-turbo="false" href="/privacy_policy">プライバシーポリシー</a>
    <a data-turbo="false" href="/contact">お問い合わせ</a>
  </div>
</footer>
