
<body>
  <div class="modal fade" id="startupModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">アプリの使い方</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <img src="https://i.gyazo.com/00e81f3d44b51feda5cda4630f5718f0.gif" class="m-explanation-image">
          <div class="startup-modal">
            <div class="card">
              <div class="card-body">
               <p class="card-tex">Map上に現在地周辺のスイーツ店がスイーツの種類ごとにアイコンとして表示されます。（例：洋菓子を出すお店はケーキのアイコンを表示）</p>
              </div>
            </div>
          </div>
          <img src="https://i.gyazo.com/1648afedf5dcc7e07194d3d32ee8961d.gif" class="m-explanation-image">
          <div class="startup-modal">
            <div class="card">
              <div class="card-body">
                <p class="card-text">ブックマークに追加したお店のルートを作成することができます。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary button-center" data-bs-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</body>
