<%= stylesheet_link_tag "contact", media: "all" %>
<div class="col-12 basic-box m-policy">
  <div class="term-wrapper">
    <h1 class="m-policy__title">お問い合わせ</h1>
    <div class="m-policy__body-container">
      <p class="m-policy__body">いつもスイーツサーチウィご利用いただきありがとうございます。</p>
      <p class="m-policy__body">本サービス内において、ご意見、ご要望、バグ報告等ございましたら下記TwitterアカウントのDMにてご報告いただけると助かります。</p>
      <div class="m-policy__btn-container">
        <a target="_blank" rel="noopener noreferrer" class="btn-basic" href="https://twitter.com/sweets_sarch">@sweets_sarch</a>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
