<%= stylesheet_link_tag "explanation", media: "all" %>
<div class="col-12 basic-box">
  <div class="m-explanation__header">
    <h1 class="m-explanation-title">スイーツサーチの使い方</h1>
  </div>
  <img src="https://i.gyazo.com/00e81f3d44b51feda5cda4630f5718f0.gif" class="m-explanation-image">
  <div class="m-explanation">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Map上に現在地周辺のスイーツ店がスイーツの種類ごとにアイコンとして表示されます。（例：洋菓子を出すお店はケーキのアイコンを表示）</p>
      </div>
    </div>
  </div>
  <img src="https://i.gyazo.com/1648afedf5dcc7e07194d3d32ee8961d.gif" class="m-explanation-image">
  <div class="m-explanation">
    <div class="card">
      <div class="card-body">
        <p class="card-text">ブックマークに追加したお店のルートを作成することができます。</p>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
