/* フッター全体 */
footer {
  background-color: #fffacd;
  padding: 20px;
}

/* コピーライトのコンテナー */
.copyright-container {
  display: flex;
  justify-content: center; /* 水平中央揃え */
  align-items: center; /* 垂直中央揃え */
  padding: 20px;
}

/* コピーライトのテキスト */
.copyright-container span {
  margin: 0;
  flex: 1;
  text-align: center;
}

/* フッターリンクのコンテナー */
.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* フッターリンクのスタイル */
.footer-links a {
  text-decoration: none;
  color: #000;
  margin: 0 10px; /* リンク間のスペース */
}

.footer-links a:hover {
  text-decoration: underline;
}

body.top-page .copyright-container {
  position: relative;
  right: 2%;
}

@media (min-width: 1200px) {
  body.top-page .copyright-container {
    position: relative;
    right: 10%;
  }
}