header {
  display: flex;
  justify-content: space-between; /* ヘッダーの要素を両端に配置 */
  align-items: center; /* ヘッダーの中央に配置 */
  padding: 20px;
  background-color: #fffacd; /* ヘッダーの背景色 */
}

span {
  margin: 0; /* マージンをリセット */
  flex: 1;
  text-align: center;
}

nav {
  margin-left: auto;
}

nav ul {
  list-style: none; /* リストのスタイルを削除 */
  margin: 0;
  padding: 0;
  display: flex; /* 横並びにする */
  background-color: #fffacd;
}

nav ul li {
  margin-left: 20px; /* リストアイテムの間隔 */
  background-color: #fffacd;
}

nav ul li a {
  text-decoration: none; /* 下線を削除 */
  color: #000; /* テキスト色 */
}

.gradient-title {
  font-size: 2.5rem;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-style: italic;
  background: linear-gradient(90deg, #ff7eb3, #ff758c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {

  .navbar-toggler {
    display: block; /* 狭い画面幅でボタンを表示 */
    background-color: #fffacd;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .navbar-collapse {
    display: none; /* デフォルトで非表示 */
  }

  .navbar-collapse.show {
    display: flex;
    flex-direction: column;
    background-color: #fffacd;
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav .nav-item {
    margin: 10px 0;
  }
}

.navbar {
  background-color: #fffacd !important; /* 薄い黄色に変更 */
}

@media (min-width: 1200px) {
  span {
    margin: 0; /* マージンをリセット */
    flex: 1;
    position: relative;
    left: 130px;
  }
}