body {
  background-color: #fffacd; /* 全体を黄色にする */
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

#map {
  height: 75vh;
  border: 2px solid #ccc;
  border-radius: 10px;
  left: 0;
  position: relative;
  margin: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 上下の要素を均等に配置 */
  height: 100px; /* 高さを揃える */
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  left: 15%;
  margin: 50px;
}

.icon-green {
  display: inline-flex; /* アイコンを中央揃え */
  align-items: center;
  justify-content: center;
  width: 50px; /* 丸の直径 */
  height: 50px; /* 丸の直径 */
  border-radius: 50%; /* 完全な丸形にする */
  background-color: rgba(158, 244, 205, 0.5); /* 薄い青色 */
  position: relative;
  left: 20px;
  top:27px;
}

.Timerequired {
  position: relative;
  top: -10px;
  left: 10%;
}

.icon-circle {
  display: inline-flex; /* アイコンを中央揃え */
  align-items: center;
  justify-content: center;
  width: 50px; /* 丸の直径 */
  height: 50px; /* 丸の直径 */
  border-radius: 50%; /* 完全な丸形にする */
  background-color: rgba(142, 224, 245, 0.5); /* 薄い青色 */
  position: relative;
  left: 500px;
  bottom: 62px;
}

.distance {
  position: relative;
  bottom: 99px;
  left: 570px;
}

@media (max-width: 1100px) {
  .icon-green {
    display: inline-flex; /* アイコンを中央揃え */
    align-items: center;
    justify-content: center;
    width: 50px; /* 丸の直径 */
    height: 50px; /* 丸の直径 */
    border-radius: 50%; /* 完全な丸形にする */
    background-color: rgba(158, 244, 205, 0.5); /* 薄い青色 */
    position: relative;
    left: 20px;
    top:10px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 上下の要素を均等に配置 */
    height: 150px; /* 高さを揃える */
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    left: 14%;
    margin: 50px;
  }

  .Timerequired {
    position: relative;
    top: -27px;
    left: 18%;
  }

  .icon-circle {
    display: inline-flex; /* アイコンを中央揃え */
    align-items: center;
    justify-content: center;
    width: 50px; /* 丸の直径 */
    height: 50px; /* 丸の直径 */
    border-radius: 50%; /* 完全な丸形にする */
    background-color: rgba(142, 224, 245, 0.5); /* 薄い青色 */
    position: relative;
    left: 20px;
    bottom: 16px;
  }

  .distance {
    position: relative;
    bottom: 50px;
    left: 80px;
  }
}